{
    "auths": {
        "registry.domain.tld": {
            "auth": "{{ container_registry_token }}"
        }
    },
    "HttpHeaders": {
        "User-Agent": "Docker-Client/18.09.6 (linux)"
    }
}